.testimonials {
  padding: 100px 0;
}
.testimonials h3 {
  margin-bottom: 20px;
  font-size: 250%;
}
.testimonials .card {
  border-bottom: 3px #007bff solid !important;
  transition: 0.5s;
  margin-top: 60px;
}
.card :hover {
  /* color: #441075;
  font-style: italic; */
  transform: scale(1.03);
  transition: all 0.3s ease-out;
}

.testimonials .card i {
  background-color: #441075;
  color: #ffffff;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: -40px auto 0 auto;
}
.card-text {
  font-size: 150%;
  text-align: justify;
  padding: 10%;
}
