.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  word-wrap: break-word;
}

.collapsible:hover {
  background-color: #ccc;
}
.item {
  margin: 10px;
}

.content {
  padding: 2px 18px;
  background-color: #703caa;
  font-family: arial;
  font-size: 200%;
  /* margin */
}

.col {
  width: 50%;
}
.wrapper {
  display: flex;
}

.faqhead {
  font-size: 300%;
  margin: 5% auto 5% auto;
  text-align: center;
}
