.custom-shape-divider-bottom-1629391808 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: #4f02b8;
}

.custom-shape-divider-bottom-1629391808 svg {
  position: relative;
  display: block;
  width: calc(223% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1629391808 .shape-fill {
  fill: #ffffff;
}
